
body{
    margin: 0px;
    width: 980px;
    background-color: rgb(189, 201, 227);
    text-align: center;
    align-items: center;
}

.room-card{
    float: left;
    font-size: larger;
    text-align: center;
    width: 300px;
    border-radius: 16px;
    box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.4);
    padding: 7px 15px;
    margin: 20px 30px;
    background-color: rgb(217, 233, 238);
}

label{
    display: block;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
}

nav a {
    text-decoration: none;
    padding: 23px 30px;
    color: rgb(32, 54, 122);
    font-weight: 600;
}

#logo-img{
    font-size: 64px;
    margin-top: 15px;
    color: rgb(7, 7, 67);
}

nav a:hover {
    background-color: rgb(3, 41, 106);
    color: rgb(213, 226, 233);
    border-radius: 15px;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.4);
}

button{
    border-radius: 9px;
    font-size: 19px;
    padding: 7px;
    margin: 15px;
}